.button{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em; /* Set font size to 1.5em */
    transition: background-color 0.5s ease, color 0.5s ease;
}

.button:hover{
    background-color: blue;
    color: white;
}

.button:active{
    background-color: white;
    color: black;
}

.video {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -35%);
    width: 75%;
}

.exam-section{
    position: fixed;
    top: 85%;
    left: 12%;
}

.label{
    color: white;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em; /* Set font size to 1.5em */
    margin: 20px;
}

.answer{
    background-color: white;
    color: black;
    text-decoration: none;
    border: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em; /* Set font size to 1.5em */
    transition: background-color 0.5s ease, color 0.5s ease;
    width: 600px;

}

.jpc-button{
    background-color: #151515;
    color: white;
    padding-left: 10 px;
    padding-right: 10 px;
    padding-top: 5px;
    padding-bottom: 3px;
    width: 130px;
    text-decoration: none;
    border: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em; /* Set font size to 1.5em */
    margin-left: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.jpc-button:hover{
    background-color: blue;
    color: white;
}

.display-ans{
    color: white;
    text-decoration: none;
    border: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em; /* Set font size to 1.5em */
    transition: background-color 0.5s ease, color 0.5s ease;
}

.display-time{
    color:aqua;
    text-decoration: none;
    border: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em; /* Set font size to 1.5em */
    transition: background-color 0.5s ease, color 0.5s ease;
}

